<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增游玩日记管理')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-blog-add">
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">用户id：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="userId" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">标题：</label>
                <div class="col-sm-8">
                    <input name="title" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">简介：</label>
                <div class="col-sm-8">
                    <input name="des" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">内容：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="conent">
                    <div class="summernote" id="conent"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">点击量：</label>
                <div class="col-sm-8">
                    <input name="click" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">地址：</label>
                <div class="col-sm-8">
                    <select id="province" class="form-control m-b" name="provinceName">
                        <option value="-1">--请选择省份--</option>
                    </select>
                    <select  id="city" class="form-control m-b" name="cityName">
                        <option value="-1">--请选择市区--</option>
                    </select>
                </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">封面：</label>
                <div class="col-sm-8">
                    <input type="hidden" name="img">
                    <div class="file-loading">
                        <input class="form-control file-upload" id="img" name="file" type="file">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "platform/blog"
        $("#form-blog-add").validate({
            focusCleanup: true
        });


        $(document).ready(function() {
            // 页面加载完成时渲染省份选项
            renderProvinceOptions();

            // 当省份选择框的值发生改变时
            $('#province').change(function() {
                var provinceId = $(this).val(); // 获取选中的省份ID
                if (provinceId != 0) {
                    // 发送Ajax请求获取对应省份的市区列表
                    $.ajax({
                        url: '/city/getCityListByid',
                        type: 'GET',
                        data: { id: provinceId },
                        success: function(data) {
                            console.log(data)
                            // 清空市区选择框的选项
                            $('#city').empty();
                            // 添加新的市区选项
                            $('#city').append('<option value="-1">--请选择市区--</option>');
                            // 将返回的市区数据添加到市区选择框中
                            $.each(data.data, function(index, city) {
                                $('#city').append('<option value="' + city.districtId + '">' + city.districtName + '</option>');
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error('获取市区列表失败: ' + error);
                        }
                    });
                } else {
                    // 如果省份选择框选择的是“--请选择省份--”，则清空市区选择框
                    $('#city').empty();
                    $('#city').append('<option value="0">--请选择市区--</option>');
                }
            });
        });

        // 渲染省份选项的函数
        function renderProvinceOptions() {
            // 发送Ajax请求获取省份列表
            $.ajax({
                url: '/city/getProvinceList',
                type: 'GET',
                success: function(data) {
                    // 清空省份选择框的选项
                    $('#province').empty();
                    // 添加新的省份选项
                    console.log(data)
                    $('#province').append('<option value="-1">--请选择省份--</option>');
                    // 将返回的省份数据添加到省份选择框中
                    $.each(data.data, function(index, province) {
                        $('#province').append('<option value="' + province.districtId + '">' + province.districtName + '</option>');
                    });
                },
                error: function(xhr, status, error) {
                    console.error('获取省份列表失败: ' + error);
                }
            });
        }


        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-blog-add').serialize());
            }
        }

        $(".file-upload").fileinput({
            uploadUrl: ctx + 'common/upload',
            maxFileCount: 1,
            autoReplace: true
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })

        $(function() {
            $('.summernote').summernote({
                lang: 'zh-CN',
                dialogsInBody: true,
                callbacks: {
                    onChange: function(contents, $edittable) {
                        $("input[name='" + this.id + "']").val(contents);
                    },
                    onImageUpload: function(files) {
                        var obj = this;
                    	var data = new FormData();
                    	data.append("file", files[0]);
                    	$.ajax({
                            type: "post",
                            url: ctx + "common/upload",
                    		data: data,
                    		cache: false,
                    		contentType: false,
                    		processData: false,
                    		dataType: 'json',
                    		success: function(result) {
                    		    if (result.code == web_status.SUCCESS) {
                    		        $('#' + obj.id).summernote('insertImage', result.url);
                    		    } else {
                    		        $.modal.alertError(result.msg);
                    		    }
                    		},
                    		error: function(error) {
                    		    $.modal.alertWarning("图片上传失败。");
                    		}
                    	});
                    }
                }
            });
        });
    </script>
</body>
</html>